<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!--
			<script type="text/javascript" async
				src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
			</script>
			-->

			
			<script type="text/javascript" async
				src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
			</script>
			
			<script>
			MathJax.Hub.Config({
			tex2jax: {
			skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
			}
			});
			</script>
			
			<script>
			MathJax.Hub.Queue(function() {
				var all = MathJax.Hub.getAllJax(), i;
				for(i=0; i < all.length; i += 1) {
					all[i].SourceElement().parentNode.className += ' has-jax';
				}
			});
			</script>
			
			<script>
			code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}
			</script>

				
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
                    <li><a href="/resources">Resources</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dcsimpson01@gmail.com">email</a></li>
	        		<li><a href="https://github.com/dcsimpson01">github.com/dcsimpson01</a></li>
				</ul>
			</footer>
		</body>
	</html>
